.h-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
   
}

.h-container img {
    height: 10vh;

}

.white-gradient {
    position: absolute;
    width: 20rem;
    height: 10rem;
    background: rgba(255,255, 255, 0.522);
    filter: blur(100px); 
} 

.h-container .nav {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.h-container li a{
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.menu-icon {
    display: none;
}










@media (max-width: 428px) {
    .menu-icon{
        display: block;

    }
    .nav {
        position: fixed;
        top: 3rem;
        right: 4rem;
        background: #fff;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
    }
} 