.t-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.t-text span:nth-child(1) {
    font-size: 70px;
    font-weight: 900;
    color: rgb(192, 121, 6);
    display: flex;
    justify-content: center;
}

.t-text :nth-child(2) {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

